$c-primary:(
    50 : #FFE9E9,
    100: #FEC8C8,
    200: #FDA4A4,
    300: #FC7F7F ,
    400: #FC6363,
    500: #FB4848,
    600: #FA4141,
    700: #FA3838,
    800: #F93030,
    900: #F82121,
     A100: #FFFFFF,
     A200: #FFFCFC,
     A400: #FFC9C9,
     A700: #FFB0B0,
)