body{background:#eee;}
.box-filters{border:1px solid #ccc;background:#fff;}
.box-filters h3{margin:0;border-bottom:1px solid #ccc;padding:10px;position:relative;overflow:hidden;}
.box-filters h3:before{content:'';display:inline-block;position:absolute;background:#2a6eba;left:0;top:-40px;height:200px;width:200px;transform:rotate(-20deg)}
.box-filters h3 span{position:relative;}
.box-filters h3 > span:first-of-type{color:#fff;}
.box-table{border:1px solid #ccc;padding:10px;background:#fff;}
.search-fields{list-style:none;padding:0;padding:0 10px;height:0;overflow:hidden;margin:0;transition:.5s;opacity:0;}
.search-fields.show{height:400px;padding:0 10px 10px;margin:10px 0;opacity:1;}
.search-fields .hasVisible > .visible{color:#22a722;}
.search-fields .hasVisible > .noVisible{color:#bb1515;}

.search-fields .hasVisible.no > .noVisible,
.search-fields .hasVisible > .visible{display:inline-block;}

.search-fields .hasVisible > .noVisible,
.search-fields .hasVisible.no > .visible{display:none;}